<div class="row">
<div class="col-sm-12">
<div class="card">
  <div class="card-block">
	<h2 class="card-title"><%= @article.title %></h2>
	<p class="card-text"><%= @markdown.render(@article.body).html_safe %></p>
  </div>
</div>

<div class="card">
  <div class="card-block">
	<h4 class="card-title">Comments:</h4>
	<% @article.comments.each do |comment| %>
	  <p><b><%= comment.commenter %>:</b></p>
	  <p>	<%= comment.body %></p>
	<% end %>	
  </div>
  <div class="card-footer">
	<h4>Add a comment:</h4>
	<%= form_for([@article, @article.comments.build]) do |f| %>
	  <div class="form-group">
		<%= f.label :commenter %>
		<%= f.text_field :commenter, class: "form-control" %>
	  </div>
	  </p>
	  <p>	
		  <%= f.label :body %>
		  <%= f.text_area :body, class: "form-control" %>
	  </p>
	  <p>	
		<%= f.submit class:"btn btn-outline-primary btn-lg" %>
	  </p>
	<% end %>
  </div>
</div>
</div>
</div>
<center>
  <%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-success btn-lg" %>
  <%= link_to 'Back', articles_path, class: "btn btn-outline-secondary btn-lg" %>
</center>
<p></p>
<p></p>