<p id="notice"><%= notice %></p>
<div class="container">
	<nav class="navbar navbar-light bg-faded">
		<a class="navbar-brand" href="#">MyBlog</a>
		 <ul class="nav navbar-nav">
		 	<li class="nav-item">
		      <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
		    </li>
		    <li class="nav-item active">
		      <a class="nav-link" href="/articles">Articles</a>
		    </li>
		 </ul>
		 <%= form_tag(articles_path, :method => "get", id: "search-form", class: "form-inline pull-xs-right") do %>
			<%= text_field_tag :search, params[:search], class: "form-control", placeholder: "Search Articles" %>
			<%= submit_tag "Search", class: "btn btn-outline-success" %>
		 <% end %>		 
	</nav>
	<p></p>
	<div class="jumbotron">
    	<h1>MyBlog</h1>
  		<h3>My first example ruby and rails for CoderSchool</h3>
  	</div>
  
  <div class="row">
    <div class="col-sm-12">
    <div class="card">
	    <div class="card-block">
			<h2 class="card-title"><%= @article.title %></h2>
			<p class="card-text"><%= @markdown.render(@article.body).html_safe %></p>
		</div>
	</div>

	<div class="card">
		<div class="card-block">
			<h4 class="card-title">Comments:</h4>
			<% @article.comments.each do |comment| %>
				<p><b><%= comment.commenter %>:</b></p>
				<p>	<%= comment.body %></p>
			<% end %>	
		</div>
		<div class="card-footer">
			<h4>Add a comment:</h4>
			<%= form_for([@article, @article.comments.build]) do |f| %>
				<div class="form-group">
					<%= f.label :commenter %>
					<%= f.text_field :commenter, class: "form-control" %>
				</div>
				</p>
				<p>	
						<%= f.label :body %>
						<%= f.text_area :body, class: "form-control" %>
				</p>
				<p>	
						<%= f.submit %>
				</p>
			<% end %>
		</div>
	</div>
	</div>
</div>
<center>
<%= link_to 'Edit', edit_article_path(@article), class: "btn btn-outline-success btn-lg" %>
<%= link_to 'Back', articles_path, class: "btn btn-outline-secondary btn-lg" %>
</center>
<p></p>
<p></p>
</div>